<div id="contacto" class="container-fluid">
  <div class="mb-3 ">
    <label for="formGroupExampleInput" class="form-label text-light">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
  </div>
  <div class="mb-3 ">
    <label for="formGroupExampleInput" class="form-label text-light">Email</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
  </div>
  <div class="mb-3 ">
    <label for="formGroupExampleInput" class="form-label text-light">Telefono</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefono">
  </div>
    <div class="sm-3 ">
      <label for="formGroupExampleInput" class="form-label text-light">Mensaje</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <br>
    <span class="align-bottom"><button type="button" class="btn btn-secondary">Contactanos</button></span>
</div>
