
<div id="toolbar" class="d-flex justify-content-center" >
  <ul class="nav justify-content-left">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Terapias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Temas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contactanos</a>
    </li>
  </ul>

</div>
  <div id="blank" class="container-fluid">
   <a ><img src="assets/img/logo-atria-01.png" width="20%" height="80%"> </a>
</div>
