
<div class="row">
   <div id="foto"  class=" col-md-4 ">


      <a> <img src="assets/img/foto.png" width="100%" height="100%" class="img-fluid"> </a>



  </div>


   <div  id="profile"  class="col-md-8">

    <p id="texto">
      Myrna Zuniga
      <br>

      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Eu lobortis
      elementum nibh tellus semper viverra nam libero justo. Id porta nibh
      venenatis cras sed felis eget velit aliquet. Lacus sed viverra tellus in.
      Volutpat est velit egestas dui. Ipsum faucibus vitae aliquet nec ullamcorndit
      libero. Viverra aliquet eget sit amet tellus cras adipiscing. Ut eu sem
      integer vitae justo eget magna fermentum. Sollicitudin nibh sit amet
      commodo nulla.  </p>
      <hr>
      <span class="align-bottom"><button type="button" class="btn btn-secondary">Contactanos</button></span>
    </div>
    <a><img id="myr" src="assets/img/Myr.jpeg"  width="30%" height="70%" class="img-fluid" >  </a>

</div>




